<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Loan Department">
	<listeners> 
        <listener class-name="test.Listeners"/>
    </listeners>
  <test name="Personal Loan">
  <parameter name="URL" value="jeffartpersonalloan.com"/>
  	
    <classes>
      <class name="test.day1">
      		<methods>
  				<include name="Demo"></include>
  			</methods>
      </class>
       <class name="test.day2"/>
       <class name="test.day4"/>
    </classes>
  </test> <!-- Test -->
  <test name="Car Loan">
  <parameter name="URL" value="jeffartcarloan.com"/>
  <parameter name="APIKey/usrname" value="123456"/>
  	<classes>
  		<class name="test.day3">
  		<methods>
  			<exclude name="API.*"></exclude>
  		</methods>
  		</class>
  	</classes>
  </test>
</suite> <!-- Suite -->
